nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
}

span {
  color:  #FFFFFF;
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
  padding: 1.5em;
  position: relative;
  top: 1.5em;
}

.new-tweet {
  font-family: 'Source Sans Pro', sans-serif;

}
