form {
  display: flex;
  flex-direction: column;
}

div{
  flex-direction: row;
}
textarea#tweet-text {
  border-bottom: 4px solid black;
  background-color: #f4f1ec;
}

button {
  margin: 0.5em;
  font-size: 2em;
  position: relative;
    bottom: 1em;
    right: 900px;
}

output {
  margin: 0.5em;
  font-size: 2em;
  position: relative;
    bottom: 1em;
    left: 900px;
}

label {
  font-size: 2em;
  padding-bottom: 0.5em;
}